.navbar {

    padding: 15px 0;
    background-color: #1e3a5f;
}

.nav-link {
    transition: .3s;
}

.nav-link:hover {
    color: #ffc507e1 !important;
    transform: translateY(-2px);
}

.dropdown-menu {
    border-radius: 12px;
}

.logo {
    width: 100px;
    font-family: 'Arial Black';
    color: #ffffffb6;
    text-decoration: none;
    transition: .3s;
}
.logo:hover {
    color: #ffd700;          /* cambia el color al pasar el mouse */
    text-decoration: underline; /* opcional: subrayado solo en hover */
    text-decoration: none;
    transform: translateY(-2px);
}

.ic {
    margin-right: 10px;
}